.warpper{
    padding: 0 auto;
    margin: 0px;
    &__left{
        border-radius:2px;
        background-color: #001529;
        color: #fff;
        height: calc(100vh);
    }
    &__right{
        background-color: #fff;
        height: calc(100ch);
        overflow: auto;
        &__content{
            position: relative;
            padding: 10px;
        }
    }
}